VITE_BACKEND_URL="http://localhost:3001"

VITE_PROD_BACKEND_URL="https://"

VITE_PINATA_PUBLIC_GATEWAY="ipfs.io/ipfs/"

VITE_PINATA_PRIVATE_GATEWAY="your_dedicated_gateway_here/ipfs/"

-- THIS CAN CHANGE PORT IF YOU LET GO SERVER RUN ON DIFFERENCE PORT
VITE_BACKEND_BASE = "localhost:3001" 

-- IF HOST THE BACKEDN , PLEASE PUT THE BACKEND URL YOU HAVE HOSTED HERE
VITE_BACKEND_PRODUCT_BASE =""
