@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.GeneralContainer{
    background-image: url('/img/HomeBackground_2.webp');
    background-size:cover;
    background-repeat: no-repeat;
}


.VietBtn , .EnBtn{
    width: 35px;
    height: 35px;
}

.LanguageSwitcherContainer:hover .EnBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: wrap;
}

.WrapContainer{
    height: 87dvh;
}

.Circle{
    width: 7px;
    height: 7px;
    background-color: rgb(244, 109, 19);
    display: flex;
    justify-self: center;
    align-self: center;

}

.WrapperCircle{
    width: 14px;
    height: 14px;
    /* From https://css.glass */
    background: rgba(119, 115, 115, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: 1px solid rgba(119, 115, 115, 1);
    align-items: center;
}

.Footer{
    cursor: pointer;
}

.WrapContainer{
    scrollbar-width: none;
   
}

.MuseumNameContainer{
    margin-left: -20px;
}

.navigation{
    font-size: large;
}

.navigation:hover{
    color: orange;
}

.lang{
    font-size: small;
}

@media screen and (device-width: 1700px) {
    .WrapContainer{
        height: 91dvh;
    }
    .Circle{
        width: 8px;
        height: 8px;
        background-color: rgb(244, 109, 19);
        display: flex;
        justify-self: center;
        align-self: center;
        margin-left: 1px;
    }
    .MuseumNameContainer{
        margin-left: -60px;
    }
}

